doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
  title Movie-Trailer
  style.
    #player {
      margin-top: 20px;
    }
    .title{
      text-transform: uppercase;
      color: #fda77f;
      font-weight: bold
    }
    .hd{
      color: #fda77f;
      text-transform: uppercase;
      font-weight: bold
    }
    .git{
      position: absolute;
      display: inline-block;
      padding: 15px;
    }

.git
  a.git-a(href='https://github.com/snocoder/movie-trailer')
    span(style='font-size: 30px; color: #000;')
      i.fa.fa-github

div
  h5.center-align.title #{about.title}
//- p= about.title
.row
  .col.s6.offset-s3
    #player

.row
  .col.s6.offset-s3
    .card-panel.valign.center
      p
        span.hd Popularity :
        |  #{about.popularity}
      p
        span.hd Adult :
        |  #{about.adult}
      p
        span.hd Overview :
        |  #{about.overview}


      //- hp.blue-text.text-darken-2 Share On Facebook
      #fb-root
      script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js#xfbml=1%26version=v4.0')
      .fb-share-button(data-href='https://www.youtube.com/watch?v=Spx-Mx3xhYY' data-layout='button_count' data-size='small')
        a.fb-xfbml-parse-ignore(target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DgVwycnRGuVs&src=sdkpreparse')
          
          |  <a class="waves-effect waves-light btn">Share on Facebook</a>

script.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
  height: '390',
  width: '640',
  videoId: "#{id}",
  events: {
  'onReady': onPlayerReady,
  'onStateChange': onPlayerStateChange
  }
  });
  }
  function onPlayerReady(event) {
  event.target.playVideo();
  }
  var done = false;
  function onPlayerStateChange(event) {
  if (event.data == YT.PlayerState.PLAYING && !done) {
  setTimeout(stopVideo, 6000);
  done = true;
  }
  }
  function stopVideo() {
  player.stopVideo();
  }


